[submodule "VisualUefi"]
	path = VisualUefi
	url = https://github.com/ionescu007/VisualUefi.git
[submodule "jsmn"]
	path = jsmn
	url = https://github.com/zserge/jsmn.git
[submodule "acpica"]
	path = acpica
	url = https://github.com/acpica/acpica.git
[submodule "nedmalloc"]
	path = nedmalloc
	url = https://github.com/ned14/nedmalloc.git
